@font-face {
    font-family: "Lobster"; /* Имя шрифта */
    src: url(../fonts/3952.ttf); /* Путь к файлу со шрифтом */
   }

@font-face {
    font-family: "Roboto Lt"; /* Имя шрифта */
    src: url(../fonts/Roboto-Light.ttf); /* Путь к файлу со шрифтом */
   }
   :root{
       --gr: #3f9f5c;
   }
   :root{
       --ser: rgb(131, 131, 131);
   }
body{
    padding: 0;
    margin: 0;
    font-family: "Roboto Lt";
    background: rgb(255, 255, 255);

}
.blackPsevd{
    position: fixed;
    background: rgba(0, 0, 0, 0.562);
    height: 100vh;
    width: 100%;
    z-index: 98;
    top:0;
}
 *{
    outline: none !important;
}
a{
    text-decoration: none;
}

button{
    cursor: pointer;
}

.header{
    width: 100%;
    min-height: 130px;
   
}
.header_cont{
    padding: 20px 0px 0;
    margin: 0 auto;
    width: 95%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    overflow: hidden;
   
}
.logo{
    background: url(../css/img/D4D_Logo.png) no-repeat bottom center;
    background-size: contain;
    width: 25%;
    min-width: 275px;
    opacity: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: top;
        -ms-flex-align: top;
            align-items: top;
    min-height: 130px;
    margin-right: 20px;
    position: relative;
    

   

}
.logo a{
display: block;
position: absolute;
width: 100% ;
background: transparent;
height: 100%;
}

.logo h3{
    text-align: center;
    letter-spacing: 10px;
    color: rgb(109, 109, 109);
    font-weight: 600;
    font-size: 14px;
    padding: 0px 0;
    margin: 0;
  
}

.header_cont .right_header{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
   -webkit-box-align: end;
       -ms-flex-align: end;
           align-items: flex-end;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    width: 75%;
    min-height: 130px;


}

.top_head{
    position: relative;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 85%;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    font-size: 12px;
    white-space: pre;
    min-width: 450px;
    
}
.top_head .seller, .customer{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 10px;
   
    
}
.top_head .seller p, .top_head .customer p{
    display: inline-block;
    margin: 0;padding: 0;
    color: var(--ser);
    font-weight: 600;
}
.top_head .seller a, .top_head .customer a{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
    padding: 0;
    color:  var(--gr);
    border-bottom: 1px dotted rgb(131, 131, 131);
}

.top_head .seller a:hover, .top_head .customer a:hover{
    color: var(--gr);
    text-shadow: 0px 0px 0.1px rgb(135, 206, 129)
}

.nav{
   width: 100%;
   
    
}

.nav ul{
display: -webkit-box;
display: -ms-flexbox;
display: flex;
list-style: none;
-ms-flex-pack: distribute;
    justify-content: space-around;
padding: 0;
margin: 0;
}

.nav ul li{
    border-bottom: 1px solid rgb(164, 212, 179);
    height: 60px;
    min-width: 150px;
   
    


}


.nav ul li a{
    color: rgb(117, 117, 117);
    font-weight: 600;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 15px;
    text-align: center;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;

}
.nav ul li a:hover{
    color: var(--gr);
    text-shadow: 0px 0px 0.1px rgb(135, 206, 129);
}
.toggleMenu{
    width: 40px;
    height: 40px;
    border: none;
    display: none;
    background: var(--gr);
    border-radius: 3px;
    margin-right: 25px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;

}
.toggleMenu:hover{
    background: rgb(19, 134, 58);
}
.toggleMenu span{
    border-bottom: 1px solid rgb(231, 231, 231);
    width: 90%;
    display: block;
    margin: 5px auto;

}
.exit{
    width: 40px;
    height: 40px;
    display: none;
    margin-right: 30px;
    border: none;
    background:  url(../css/img/man.png) no-repeat center center, var(--gr) ;
    background-size: 23px;
    border-radius: 3px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.exit:hover{
    background-image: url(../css/img/man.png) no-repeat center center;
    background-color:  rgb(19, 134, 58);
}

.product_Acb{
    margin-top: 70px;
    border-top: 1px solid #eaeaee;
}
.acb_cont{
    width: 98%;
    margin: 0 auto; 
    height: 100%;
    padding: 60px 0 ;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    
    
}

 .navigation{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 90%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  margin-left: 40px;
  padding-top: 35px;
 

    
}
 .navigation a{
    font-size: 13px;
    display: block;
    border-bottom: 1px dotted var(--ser);
     color: var(--ser);
     margin-right: 2px;
     margin-left: 2px;
   


}
.acb_cont .navigation a span{
 
    padding: 0;
    margin: 0;
}

.acb_cont .left_cont{
 
    width: 40%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-width: 320px;
}
.acb_cont .right_cont{
   
    width: 60%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-width: 320px;
}
.acb_cont .right_cont table {
    width: 70%;
    margin: 0 auto;
    border-collapse: collapse;
}
.acb_cont .right_cont table tr {
    border-bottom: 1px dotted var(--ser);
}
.acb_cont .right_cont table tr td{
    width: 50%;
    text-align: center;
    padding: 15px 0;
   
}
.infoCatalog{
margin-top: 60px;

}
.infoCatalog .lookAllH{
    text-align: center;
    color:var(--ser);
    margin: 5px 0;


}

.infoCatalog .linkAllCatalog{
    color: var(--gr);
    margin: 0;padding: 0;
}

.price {
    font-weight: 600;
    color: rgb(66, 66, 66);
    font-size: 19px;
}

.tel p{
    font-size: 14px;
    color: var(--ser);
   text-align: center

}

.tel p a{
    color: var(--gr);
    font-weight: 600;
    display: inline-block;
}

.buy{
    margin-top: 50px;
    width: 100%;
    color: var(--ser);
    font-size: 15px;
    text-align: center;
    
}

.buy p{
    width: 70%;
    margin: 20px auto;
}

.buy .btnBuy{
    width: 260px;
    height: 65px;
    font-size: 14px;
    border: none;
    background: var(--gr);
    color: rgb(255, 255, 255);
    margin-top: 20px;
    transition: all 0.3s ease;
    border-radius: 3px;
}

.buy .btnBuy:hover{
    background:  rgb(19, 134, 58);
}
.rating{
    width: 100%;
    color: var(--ser);
    text-align: center;
    margin: 50px 0;
  
}
.rating p,.rating h4{
    margin: 0;
}

.nameCompany{
    font-size: 18px;
}
p.unp{
    font-size: 12px;
    margin-top: 3px;
}
p.slogan{
    font-size: 14px;
    margin-top: 3px;
}
p.ratingSeller{
    font-weight: 600;
    margin-top: 20px;
    font-size: 15px;
}

.ratingStars{
    width: 100%;
   
   justify-content: center;
    display: flex;

}
.stars{
    background: url(img/Stars.svg) no-repeat;
    height: 20px;
    width: 20px;
    background-position: -20px;
}
.ratingStars .s5{
    background-position: 0px;
}

.reviews{
    border: 1px solid var(--gr);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    width: 170px;
    border-radius: 3px;
    font-size: 13px;
    margin: 30px auto;
    transition: all 0.3s ease;
   color: var(--ser);
   font-weight: 600;

   
}

a.reviews:hover{
    background: var(--gr);
    color: #fff;
}

.descriptCompany{
    width: 80%;
    margin: 0px auto;
    color: var(--ser);
    font-size: 13px;
}
.descriptCompany:before{
    content: '';
    display: block;
    width: 70%;
    position: relative;
    margin: 0 auto;
    height: 2px;
    border-top: 1px solid transparent;
    border-radius: 100%;
    box-shadow:  0px 6px 5px 1px var(--gr);
   top: -20px;
   

}

.footer{
    margin-top: 120px;
    border-top: 1px solid #eaeaea
}

.footer .foot_cont{
    width: 95%;
    margin: 50px  auto 10px;
    display: flex;
 
    justify-content: space-between;
    align-items: flex-start;

}
.footer .foot_cont .left_foot{
    width: 40%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;

}
.footer .foot_cont .left_foot p{
    font-size: 14px;
    color: var(--ser);

}

.footer .foot_cont .left_foot .logo{
    min-width: 150px;
    width: 180px;
    background-size: contain;
    background-position: top center;
    height: auto;
    min-height: 90px;
}
.footer .foot_cont .left_foot .logo h4{
   
    margin: 0;
    padding: 60px 0 0px 0;
    text-align: center;
    color: var(--ser);
    font-size: 12px;
    font-weight: 600;
   


}
.footer .foot_cont .right_foot{
    width: 60%;
}

.footer .foot_cont .right_foot .contacts{
    text-align: center;
    color: var(--ser);

}
.footer .foot_cont .right_foot .contacts p{
    margin: 0;
}
.footer .foot_cont .right_foot .contacts iframe{
    width: 100%;
    height: 300px;
    margin-top: 30px;
}
.footer .foot_cont .right_foot .contacts a{
    color: var(--gr);
    transition:  all 0.3s ease;
}
.footer .foot_cont .right_foot .contacts a:hover{
    color:   rgb(19, 134, 58);
    text-shadow: 0px 0px 0.1px rgb(135, 206, 129)
   
}